# Python
.pytest_cache/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/

# Local application data
*.db
*.sqlite
*.sqlite3
config.ini
*.db-journal
*.db-wal
*.db-shm

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Local exports
*.csv
